<!DOCTYPE html>
<html>
<head><title>Form</title></head>
<body>
  <h1>Submit Data</h1>
  <form action="/submit" method="post">
    <label>Item Name:</label><br>
    <input type="text" name="itemName"><br>
    <label>Item Description:</label><br>
    <input type="text" name="itemDescription"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
